* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: antiquewhite;
}

body {
  background-color: rgb(59, 11, 104);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.container {
  display: block;
  font-size: 70px;
  text-align: center;
}
.stopwatch {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hrs,
.mins,
.secs,
.mils {
  height: 200px;
  width: 200px;
  background-color: rgb(11, 85, 104);
  margin-left: 20px;
  border: none;
  box-shadow: 3px 2px 5px rgb(153, 148, 148);
  padding-top: 55px;
}
.btn {
  background-color: rgb(6, 29, 78);
  height: 50px;
  width: 100px;
  border-radius: 20px;
  cursor: pointer;
  border: none;
  box-shadow: 2px 2px 3px black;
}
